/* CSS RESET - do not remove */
/* Reset default browser styles and provide a consistent starting point */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: lighter;
}

/*  Set the font */
body {
  font-family: 'Lucida handwriting std', sans-serif;
  
}

/* STYLES */
/* Write your CSS below */


body {
  margin: 0;
  padding: 0;
}


.header {
  background-image: url(../images/apple-pie.jpg);
  background-size: cover;
  height: 965px;
  color: aliceblue;
  font-size: 1em;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  padding-top: 30vh;
}


h1 {
  font-size: 5em;
  text-transform: uppercase;
}


#introduction {
  font-size: 1.5em;
  text-align: center;
  margin-top: 50px;
  margin: 50px 0 0 30px;
}


.ingredients {
  padding-left: 200px;
  text-align: left;
  margin-bottom: 30px;
  padding-right: 200px;
}

.ul{
  padding-left: 50px;
}

.directions{
  padding-left: 200px;
  text-align: left;
  margin-bottom: 30px;
  padding-right: 500px;
}

#recipe_info, #cooking_info {
  display: block;
  margin: auto;
  max-width: 100%;
  height: auto;
}



