/* CSS RESET - do not remove */
/* Reset default browser styles and provide a consistent starting point */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: lighter;
}

/*  Set the font */
body {
  font-family: "Helvetica", sans-serif;
}

/* STYLES */
/* Write your CSS below */

#header {
  margin: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 600px;
  background-image: url(../images/apple-pie.jpg);
}

#title {
  margin-top: ;
  color: aqua;
  text-align: center;
}

.intro {
  text-align: center;
  margin-top: 50px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-left: 20px;
  margin-right: 20px;
}

#cooking-info {
  margin-top: 50px;
}

.ingredients {
  text-align: center;
}

.ingredients ul {
  display: inline-block; /* centra o bloco da lista */
  text-align: left; /* por dentro fica alinhado à esquerda */
  list-style: disc outside; /* necessário para o ::marker aparecer */
  margin: 0;
  padding-left: 1.2em; /* aproxima marcador do texto */
}

.ingredients li::marker {
  content: "– "; /* en-dash como marcador (ou "-" se preferires) */
  font-weight: 400; /* podes estilizar o marcador */
}

.ingredients li {
  margin: 0.25rem 0;
}
